{{#each this}}
<div class="country-card">
        <h2 class="country-card__name">{{name}}</h2>
        <div class="content">
            <div class="content__text">
                <ul class="info">
                    <li class="info__item"><span class="info__item--bolded">Capital:</span>{{capital}}</li>
                    <li class="info__item"><span class="info__item--bolded">Population:</span>{{population}}</li>
                    <li class="info__item"><span class="info__item--bolded">Languages:</span>
                        <ul class="lang">
                            {{#each languages}}
                            <li class="lang__item">
                                {{name}}
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
              
            </div>
            <div class="content__img">
                <img src={{flag}} alt={{name}} width="300">
            </div>
        </div>
        </div>
{{/each}}